* {
    font-family: 'Lexend', sans-serif;
}

#main {
    padding: 20px;
}

.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.playlist h1 {
    text-align: left;
    font-size: 40px;
}

.track {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.track img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.track-info {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
}

.track-info .song {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
}

.track-info .name {
    font-size: 20px;
    font-weight: bold;
    color: #6320EE;
}

.track-info .album {
    font-size: 14px;
    color: #555;
}

.track-info .time {
    font-size: 12px;
    color: #999;
    align-items: flex-end;
}

.track-info .plays {
    font-size: 12px;
    color: #999;
}

.track-info .like {
    width: 70px;
    height: 43px;
    align-items: flex-end;
}

.lineSong {
    display: inline;
    flex-direction: row;
}

.content {
    display: flex;
}

.right {
    flex: 0 1 45%;
    margin-top: 110px;
    margin-left: 700px;
}

.left.current-track {
    position: fixed;
    top: 50px; 
    left: 190px; 
    width: 380px; 
    z-index: 1000; 
}

.fotoAlbum {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    text-align: center;
}

.playerTrack {
    margin-top: 40px;
    width: 300px;
    height: 13.75px;
    text-align: center;
}

.control-buttons {
    display: flex;
    margin-left: 105px;
    margin-top: 10px;
  }
  
  .player-control,
  .pause-control {
    background-color: transparent;
    border: 0;
  }
  
  .player-control:hover,
  .pause-control:hover {
    cursor: pointer;
    color: grey;
  }
  
  .player-control:hover img,
  .pause-control:hover img {
    transform: scale(1.3);
  }
  
  .player-control img,
  .pause-control img {
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    padding-right: 10px;
  }
  
  .highlighted {
    border-radius: 10px;
    background-color: #F9CFF2;
}